<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
    
  <h1>All Users</h1>
    <!-- Form to add new user -->
  <form method="POST" action="/users-ui">
    <input type="text" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <button type="submit">Add User</button>
  </form>
  
  <ul>
    <% users.forEach(user => { %>
      <li><%= user.name %> - <%= user.email %></li>
    <% }) %>
  </ul>
  <a href="/">Back to Home</a>
</body>
</html>
